* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(45deg, #8b6160,#e3c79c);
    filter: hue-rotate(100deg);
    animation: hue 8s linear infinite;
}
@keyframes  hue{
    0% {
        filter : hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.slider{
    width: 60.032%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    box-shadow: 2px 0.1px 10px black;
}
.main-slider img{
    width: 100%;
}
.slider-img{
    width: 100%;
    display: flex;
}
.slider-btn{
    width: 100%;
    font-size: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 50%;
    color: white;
    cursor: pointer;
}
.prev-btn:hover,.next-btn:hover{
   color: #ea0a0a;
}




